<form action = "/dashboard/addstation" method = "POST">
  <div class="field">
    <label class = "label">Station name</label>
    <input class = "input" type ="text" placeholder ="Enter Station Name" name="title">
  </div>
  <button class = "button is-link">
    add station
  </button>
</form>