<form class = "box" action = "/station/{{station._id}}/addreport" method = "POST">
  <label>Enter Report Details</label>
  <div class = "field is-horizontal">
    <div class = "field-body">
     
      <div class = "select">
{{> weatherTypes/weather-codes}}
      </div>
        
            <div class = "field">
        <input class = "input" type = "text" placeholder = "Enter Temperature" name = "temp">
      </div>
            <div class = "field">
        <input class = "input" type = "text" placeholder = "Enter Windspeed" name = "windSpeed">
      </div>
      
      <div class = "control">
        

        <div class ="select">
        {{>weatherTypes/wind-directions}}
      </div>
              </div>
  
            <div class = "field">
        <input class = "input" type = "text" placeholder = "Enter Pressure" name = "pressure">
      </div>
    </div>
  </div>
  <button class="button is-warning is-dark">
    Submit Report
  </button>
</form>