<div class="title p-3 is-flex">
  <figure class = "box">
<img src= "https://cdn.glitch.global/d6973480-5b8e-463f-a315-d8ad6ba2634d/weathertop.png?v=1720554200742" height = "88" width = "88">
</figure>
  <div class="ml-4">Weathertop</div>
</div>