{{> menu active="dashboard"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Station Dashboard
  </h3>
<section class = "box has-text-centered"
         {{>list-stations}}
         {{>add-station}}
         </section>
</section>
