        <select name ="code">
          <option value = "" disabled selected hidden>Select Weather Code</option>
          <option value ="200">Thunderstorm with light rain : 200</option>
          <option value ="201">Thunderstorm with rain : 201</option>
          <option value ="202">Thunderstorm with heavy rain : 202</option>
          <option value ="210">Light Thunderstorm : 210</option>
          <option value ="211">Thunderstorm : 211</option>
          <option value ="212">Heavy thunderstorm : 212</option>
          <option value ="221">Ragged thunderstorm : 221</option>
          <option value ="230">Thunderstorm with light drizzle : 230</option>
          <option value ="231">Thunderstorm with drizzle : 231</option>
          <option value ="232">Thunderstorm with heavy drizzle : 232</option>
          <option value ="300">Light Intensity drizzle : 300</option>
          <option value ="301">Drizzle : 301</option>
          <option value ="302">Heavy intensity drizzle : 302</option>
          <option value ="310">Light intensity drizzle rain : 310</option>
          <option value ="311">Drizzle rain : 311</option>
          <option value ="312">Heavy intensity drizzle rain : 312</option>
          <option value ="313">Shower rain and drizzle : 313</option>
          <option value ="314">Heavy shower rain and drizzle : 314</option>
          <option value ="321">Shower drizzle : 321</option>
          <option value ="500">Light rain : 500</option>
          <option value ="501">Moderate rain : 501</option>
          <option value ="502">Heavy intensity rain : 502</option>
          <option value ="503">Very heavy rain : 503</option>
          <option value ="504">Extreme rain : 504</option>
          <option value ="511">Freezing rain : 511</option>
          <option value ="520">Light intensity shower rain : 520</option>
          <option value ="521">Shower rain : 521</option>
          <option value ="522">Heavy intensity shower rain : 522</option>
          <option value ="531">Ragged shower rain : 531</option>
          <option value ="600">Light snow : 600</option>
          <option value ="601">Snow : 601</option>
          <option value ="602">Heavy snow : 602</option>
          <option value ="611">Sleet : 611</option>
          <option value ="612">Light shower sleet : 612</option>
          <option value ="613">Shower sleet : 613</option>
          <option value ="615">Light rain and snow : 615</option>
          <option value ="616">Rain and snow : 616</option>
          <option value ="620">Light shower snow : 620</option>
          <option value ="621">Shower snow : 621</option>
          <option value ="622">Heavy shower snow : 622</option>
          <option value ="701">Mist : 701</option>
          <option value ="711">Smoke : 711</option>
          <option value ="721">Haze : 721</option>
          <option value ="731">Dust : 731</option>
          <option value ="741">Fog : 741</option>
          <option value ="751">Sand : 751</option>
          <option value ="761">Dust : 761</option>
          <option value ="762">Ash : 762</option>
          <option value ="771">Squall : 771</option>
          <option value ="781">Tornado : 781</option>
          <option value ="800">Clear sky : 800</option>
          <option value ="801">Few clouds 11-25% : 801</option>
          <option value ="802">Scattered clouds 25-50% : 802</option>
          <option value ="803">Broken clouds 51-84% : 803</option>
          <option value ="804">Overcast clouds 85-100% : 200</option>
        </select>