<select name = "windDirection">
          <option value = "" disabled selected hidden>Select Wind Direction</option>
          <option value="0.0">N</option>
          <option value="22.5">NNE</option>
          <option value="45.0">NE</option>
          <option value="67.5">ENE</option>
          <option value="90.0">E</option>
          <option value="112.5">ESE</option>
          <option value="135.0">SE</option>
          <option value="157.5">SSE</option>
          <option value="180.0">S</option>
          <option value="202.5">SSW</option>
          <option value="225.0">SW</option>
          <option value="247.5">WSW</option>
          <option value="270.0">W</option>
          <option value="292.5">WNW</option>
          <option value="315.0">NW</option>
          <option value="337.5">NNW</option>
        </select>